@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

:root {
    --colour-black: black;
    --colour-white: white;
    
    /* dynamic colours */
    --colour-body: black;
    --colour-text: white;
    
    --colour-grad-x: white;
    --colour-grad-y: white;
    
    --largest-dist: 0;
    
    --heading: "heebo", sans-serif;
    --subheading: "heebo", sans-serif;
    --content: "heebo", sans-serif;
    
    --bold: 500;
    --semi-bold: 500;
    --regular: 500;

    --linespace: 1.5;
    --padding: 1.5em;
    --gap: 1em;
    
    --shadow: 0 0 10px 1px rgba(0,0,0,0.3);
    
    --round: 100%;
    
    /* z-index */
    --z-nav: 10;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

::selection {
    background-color: var(--colour-text);
    color: var(--colour-body);
}

html {
    font: var(--regular) 1em/var(--linespace) var(--content);
    color: var(--colour-text);
}

p {
    font: var(--regular) 1.2em/var(--linespace) var(--content);
    margin-bottom: 1em;
}

p span {
    font: var(--bold) 1em/var(--linespace) var(--content);
}

h1 {
    font: var(--bold) 2.2em/1.3 var(--heading);
    color: var(--colour-text);
    max-width: 50em;
}

h2 {
    font: var(--bold) 1.625em/1.3 var(--heading);
}
h3 {
    font: var(--bold) 1.125em/var(--linespace) var(--heading);
    color: var(--colour-text);
}
h4 {
    font: var(--regular) 0.8em/var(--linespace) var(--subheading);
    color: var(--colour-text);
}
h4 span {
    font: var(--regular) 0.9em/var(--linespace) var(--subheading);
}

h6 {
    font: var(--regular) 0.6em/var(--linespace) var(--subheading);
}

li {
    list-style: none;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font: unset;
}
button img {
    height: 1.5em;
    pointer-events: none;
    display: block;
}
button a {
    font: unset;
    color: var(--colour-text);
    display: block;
}

.tip button {
    position: fixed;
    bottom: var(--padding);
    right: var(--padding);
}

.tip button img {
    height: 2.6em;
}
.tip button:hover img {
    transform: scale(1.1);
    transition: 0.2s ease;
}

.socials button:hover img {
    opacity: 0.8;
}

/* ________________SECTION HEADER__________________ */

main {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    opacity: 0;
    transition: opacity 1s ease;
}
main.active {
    opacity: 1;
}
.bg-shell {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: -1;
    display: grid;
    align-items: center;
    justify-items: center;
    overflow: hidden;
}
.bg-grad {
    background: radial-gradient(circle, var(--colour-grad-x) 0%, var(--colour-grad-y) 100%);
    background-size: 300% 300%;
    -webkit-animation: gradBG 51s ease infinite;
    animation: gradBG 51s ease infinite;
    width: 80px;
    height: 80px;
    border-radius: var(--round);
    transition: 1s ease;
    position: absolute;
}

.bg-shell.active .bg-grad {
    width: calc(var(--largest-dist) * 1.42);
    height: calc(var(--largest-dist) * 1.42);
}
.bg-shell.active .loader-anim {
    display: none;
}

div.err {
    position: fixed;
    z-index: var(--z-nav);
    bottom: var(--padding);
    /* display: grid; */
    justify-items: center;
    width: 100%;
    --colour-text: red;
    display: none;
}

div.tip {
    --colour-text: var(--colour-white);
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    padding: var(--padding);
}
div.tip div {
    display: grid;
    width: 100%;
    grid-template-rows: min-content auto;
    align-items: flex-start;
    gap: var(--gap);
}
div.tip h1 {
    max-width: 36em;
}
div.tip button {
    /* margin-top: calc(var(--gap) / 2); */
}

nav.socials {
    position: fixed;
    z-index: var(--z-nav);
    bottom: var(--padding);
    left: var(--padding);
    
    display: flex;
    flex-direction: row;
}
nav.socials ul {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: var(--gap);
}

.shameless-plug {
    position: fixed;
    z-index: var(--z-nav);
    bottom: var(--padding);
    right: var(--padding);
    text-align: right;
    display: none;
}
.shameless-plug > * {
    opacity: 0.7;
    line-height: 1;
}
.shameless-plug > a:hover {
    opacity: 1;
}

.loader-anim {
    width: 110px;
    height: 110px;
    animation: loaderAnim 2s linear infinite;
    fill: var(--colour-grad-x);
}

@-webkit-keyframes loaderAnim {
    0%{transform:rotate(0deg)}
    100%{transform:rotate(359deg)}
}
@keyframes loaderAnim {
    0%{transform:rotate(0deg)}
    100%{transform:rotate(359deg)}
}

@-webkit-keyframes gradBG {
    0%{background-position:25% 25%}
    50%{background-position:50% 35%}
    100%{background-position:25% 25%}
}
@keyframes gradBG {
    0%{background-position:25% 25%}
    50%{background-position:50% 35%}
    100%{background-position:25% 25%}
}


@media screen and (min-width: 60em) {
    :root {
        --padding: 3em;
    }
    .tip button {
        position: static;
        bottom: unset;
        right: unset;
    }
    .tip div {
        grid-template-columns: min-content auto;
        grid-template-rows: unset;
    }
    .shameless-plug {
        display: block;
    }
}

